<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="canonical" href="https://saintconhhv.github.io/HHVLabs/walkthroughs/template/">
        <link rel="shortcut icon" href="../../img/favicon.ico">

	<title>deleteme - HHVLabs</title>

        <link href="../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link rel="stylesheet" href="../../css/highlight.css">
        <link href="../../css/base.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="../..">HHVLabs</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            
            
                <li >
                    <a href="../..">Home</a>
                </li>
            
            
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Labs <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">2016</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../ads-b/">rtl-sdr: ADS-B with adstoolbox</a>
</li>

        
            
<li >
    <a href="../empire-ducky/">rubber ducky: Empire with a ducky</a>
</li>

        
            
<li >
    <a href="../hackrf-rc-car/">HackRF: RC Car</a>
</li>

        
            
<li >
    <a href="../proxmark/">Proxmark: Introduction</a>
</li>

        
            
<li >
    <a href="../pineapple-captive-portal/">WiFi Pineapple: Rogue Captive Portal</a>
</li>

        
            
<li >
    <a href="../../software-2016/">Software</a>
</li>

        
    </ul>
  </li>

                    
                    </ul>
                </li>
            
            
            
                <li class="active">
                    <a href="./">deleteme</a>
                </li>
            
            
            </ul>

            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                <li >
                    <a rel="next" href="../../software-2016/">
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li class="disabled">
                    <a rel="prev" >
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                
                <li>
                    <a href="https://github.com/SAINTConHHV/HHVLabs/">
                        
                            <i class="fa fa-github"></i>
                        
                        GitHub
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#name-for-this-walkthrough">Name for this walkthrough</a></li>
        
            <li><a href="#goals">Goals</a></li>
        
            <li><a href="#background-information">Background Information</a></li>
        
            <li><a href="#required-software">Required Software</a></li>
        
            <li><a href="#walkthrough">Walkthrough</a></li>
        
            <li><a href="#challenge">Challenge</a></li>
        
            <li><a href="#additional-information">Additional Information</a></li>
        
            <li><a href="#delete-the-rest">Delete the rest</a></li>
        
    
    </ul>
</div></div>
            <div class="col-md-9" role="main">

<h2 id="name-for-this-walkthrough">Name for this walkthrough</h2>
<h3 id="goals">Goals</h3>
<h3 id="background-information">Background Information</h3>
<h3 id="required-software">Required Software</h3>
<p>See <a href="../../software-2016/#package-name">Package Name</a> for installation instructions.</p>
<h3 id="walkthrough">Walkthrough</h3>
<h4 id="what-to-do-first">what to do first</h4>
<h4 id="what-to-do-next">what to do next</h4>
<h3 id="challenge">Challenge</h3>
<h3 id="additional-information">Additional Information</h3>
<h3 id="delete-the-rest">Delete the rest</h3>
<p><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Useful markdown reference</a> (github-flavor, mkdocs can have subtle differences)</p>
<p>Some examples to see how they actually render in this environment:</p>
<p>list (note the blank line before the first item and the multiple of 4-spaces for indentation, mkdocs can be picky):</p>
<ul>
<li>bullet 1</li>
<li>
<p>bullet 2</p>
<ul>
<li>nested bullet item 1<ul>
<li>etc</li>
</ul>
</li>
<li>etc</li>
</ul>
</li>
<li>
<p>bullet 3 with mkdocs ?, numbered 1 with github</p>
<ol>
<li>subitem 1</li>
</ol>
</li>
</ul>
<p>Note that github is more forgiving, the following doesn't work with mkdocs:
 1. item a
 1. item b
 1. item c
    1. item 1
    2. item 2
    1. item 3</p>
<p>images/links:</p>
<p><img alt="example image alt text" src="../pineapple-login.png" /></p>
<p>maybe scaled (requires markdown.extensions.attr_list to be enabled):</p>
<p><img alt="example image alt text" height="109" src="../pineapple-login.png" width="129" /></p>
<p><a href="https://site.example/link/target">link text</a></p>
<p>[https://site.example/link/target] -- not sure if this does anything</p>
<p>(https://site.example/link/target) -- or this</p>
<p><a href="https://site.example/link/target">https://site.example/link/target</a> -- or this</p>
<p>Commands, etc:</p>
<p>you can do them inline, for example <code>cat /proc/cpuinfo</code></p>
<p>you can do blocks:</p>
<pre><code class="python">#!/usr/bin/env python

def main():
    print &quot;Hello world!&quot;

if __name__ == '__main__':
    main()
</code></pre></div>
        </div>

        <footer class="col-md-12">
            <hr>
            
            <center>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</center>
        </footer>

        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../js/highlight.pack.js"></script>
        <script>var base_url = '../..';</script>
        <script data-main="../../mkdocs/js/search.js" src="../../mkdocs/js/require.js"></script>
        <script src="../../js/base.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            From here you can search these documents. Enter
                            your search terms below.
                        </p>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                            </div>
                        </form>
                        <div id="mkdocs-search-results"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>